<a href="https://colab.research.google.com/github/maliyalapavani08/ML_23AG1A66G2/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
data=pd.read_csv('data processing - Sheet1.csv')
data.head()

    Name   Age Gender  Marks     City
0  Alice  18.0      f   85.0   london
1    Bob   NaN      m   90.0  newyork
2  David  19.0      f   70.0      NaN
3   John  17.0      m   95.0   sydney
4   Rubi  18.0      f    NaN   london

Handling Missing values

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

    Name   Age Gender  Marks     City
0  Alice  18.0      f   85.0   london
1    Bob  18.0      m   90.0  newyork
2  David  19.0      f   70.0  Unknown
3   John  17.0      m   95.0   sydney
4   Rubi  18.0      f   85.0   london

In [ ]:
import pandas as pd
# create example data including duplicates
data={
    'Name':['Alice','Bob','Alice'],
    'Age':[18,18,18],
    'Gender':['F','M','F'],
    'Marks':[85,90,85]
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)

#Remove duplicates across all columns
df_no_duplicates = df.drop_duplicates()

print("\nAfter Removing Duplicates:")
print(df_no_duplicates)

Original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

After Removing Duplicates:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90

checking the datatype of a given dataset features

In [16]:
import pandas as pd
df=pd.DataFrame({
    'Name':['Alice','Bob',],
    'Age':[17,19,],
    'Salary':[5000,7000],
})
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

convert specific columns to desired types

In [17]:
df['Age']=df['Age'].astype(int)
df['Salary']=df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

using pd.to_numeric()(handles error)

In [18]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

Encoding categorical data
convert text categories into numbers for analysis

In [25]:
data['Gender']=data['Gender'].map({'F':0,'M':1})
print(data)

    Name   Age  Gender  Marks     City
0  Alice  18.0     NaN   85.0   london
1    Bob   NaN     NaN   90.0  newyork
2  David  19.0     NaN   70.0      NaN
3   John  17.0     NaN   95.0   sydney
4   Rubi  18.0     NaN    NaN   london

use one-hot encoding for city

In [26]:
data = pd.get_dummies(data, columns=['City'])
print(data)

    Name   Age  Gender  Marks  City_london  City_newyork  City_sydney
0  Alice  18.0     NaN   85.0         True         False        False
1    Bob   NaN     NaN   90.0        False          True        False
2  David  19.0     NaN   70.0        False         False        False
3   John  17.0     NaN   95.0        False         False         True
4   Rubi  18.0     NaN    NaN         True         False        False